@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Cari Güncelleme</h2>
<br />

@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post)) { 

<div class="form-group">
    <label>Ad:</label>
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariAd, "", new { @style = "color:red" })
    <br />
    <label>Soyad:</label>
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSoyad, "", new { @style = "color:red" })
    <br />
    <label>Şehir:</label>
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    <br />
    <label>Email:</label>
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.CariId)

    <button class="btn btn-primary">Güncelle</button>

</div>

}



